<p><%= raw t '.purpose', author: link_to('Thibault Lacroux', 'http://github.com/Rykian') %></p>

<p><%=t '.goal' %></p>

<p><%= raw t '.available_on_github', github: 'https://github.com/Rykian/CineVOlle' %></p>
