<div class="jumbotron">
  <h1>CineVOlle</h1>
  <p class="lead"><%=t 'welcome.description' %></p>

  <%= form_tag '/register', class: 'form-inline' do %>
    <div class="form-group">
      <input type="email" name="email" class="form-control input-lg" placeholder="Votre email" required="required" />
      <button type="submit" class="btn btn-lg btn-success"><%=t 'welcome.signup' %></button>
    </div>
  <% end %>
</div>
